<div *ngIf='shouldExpandView === false && language === "en-US"' class='container-fluid h-100 d-flex justify-content-center align-items-center'>
  <div class='card w-auto'>
    <img class='card-img-top' [src]='image.links[0].href' alt='NASA API picture.' />
    <div class='card-body'>
      <h5 class='card-title'>
        {{image.data[0].title}}
      </h5>
      <p class='card-text'>
        {{image.data[0].description}}
      </p>
      <a (click)='expandView()' class='btn btn-info'>
        Check it out!
      </a>
    </div>
  </div>
  <div class='mt-5 fixed-bottom container d-flex justify-content-center align-items-center'>
    <a class='h6 text-primary'>Made with ❤ by <a class='text-info nav-link' target='_blank' href='https://github.com/jakub-cywka'>Jakub Cywka</a></a>
  </div>
</div>

<div *ngIf='shouldExpandView === true && language === "en-US"' class='w-100 h-100 d-flex text-center flex-column justify-content-center align-items-center'>
  <div class='w-auto h-auto'>
    <img *ngIf='image.links[0].href' [src]='image.links[0].href' class='image-responsive' />
  </div>
  <div class='w-100 h-auto d-flex flex-column justify-content-center text-center align-items-center mt-2'>
    <a class='h4 text-primary'>
      "{{image.data[0].title}}"
    </a>
    <a class='h5 mt-1'>
      {{image.data[0].description}}
    </a>
    <a class='h5 mt-1'>
      Captured by: <strong *ngIf='image.data[0].author'>{{image.data[0].author}}</strong><strong *ngIf='image.data[0].author === undefined'>NASA / Unknown</strong>
    </a>
  </div>
  <div class='mt-5 fixed-bottom container d-flex justify-content-center align-items-center'>
    <a class='h6 text-primary'>Made with ❤ by <a class='text-info nav-link' target='_blank' href='https://github.com/jakub-cywka'>Jakub Cywka</a></a>
  </div>
</div>

<div *ngIf='shouldExpandView === false && language === "pl-PL"' class='container-fluid h-100 d-flex justify-content-center align-items-center'>
  <div class='card w-auto'>
    <img class='card-img-top' [src]='image.links[0].href' alt='NASA API picture.' />
    <div class='card-body'>
      <h5 class='card-title'>
        {{image.data[0].title}}
      </h5>
      <p class='card-text'>
        {{image.data[0].description}}
      </p>
      <a (click)='expandView()' class='btn btn-info'>
        Zobacz to!
      </a>
    </div>
  </div>
  <div class='mt-5 fixed-bottom container d-flex justify-content-center align-items-center'>
    <a class='h6 text-primary'>Made with ❤ by <a class='text-info nav-link' target='_blank' href='https://github.com/jakub-cywka'>Jakub Cywka</a></a>
  </div>
</div>

<div *ngIf='shouldExpandView === true && language === "pl-PL"' class='w-100 h-100 d-flex text-center flex-column justify-content-center align-items-center'>
  <div class='w-auto h-auto'>
    <img *ngIf='image.links[0].href' [src]='image.links[0].href' class='image-responsive' />
  </div>
  <div class='w-100 h-auto d-flex flex-column justify-content-center text-center align-items-center mt-2'>
    <a class='h4 text-primary'>
      "{{image.data[0].title}}"
    </a>
    <a class='h5 mt-1'>
      {{image.data[0].description}}
    </a>
    <a class='h5 mt-1'>
      Uchwycone przez: <strong *ngIf='image.data[0].author'>{{image.data[0].author}}</strong><strong *ngIf='image.data[0].author === undefined'>NASA / Autor nieznany</strong>
    </a>
  </div>
  <div class='mt-5 fixed-bottom container d-flex justify-content-center align-items-center'>
    <a class='h6 text-primary'>Made with ❤ by <a class='text-info nav-link' target='_blank' href='https://github.com/jakub-cywka'>Jakub Cywka</a></a>
  </div>
</div>