/* You can add global styles to this file, and also import other style files */

html, body, app-root {
    width: 100% !important;
    height: 100% !important;
    padding: 0% !important;
    margin: 0% !important;
}

.d-grid {
    display: grid !important;
}

.border-box {
    box-sizing: border-box !important;
}

@media (max-width: 575.98px) {
    .grid-template-responsive {
        grid-template: auto / repeat(1, 1fr) !important;
        grid-gap: 4px !important;
    }
    .image-responsive {
        width: auto !important;
        height: 192px !important;
    }
}

@media (min-width: 576px) {
    .grid-template-responsive {
        grid-template: auto / repeat(2, 1fr) !important;
        grid-gap: 8px !important;
    }
    .image-responsive {
        width: auto !important;
        height: 224px !important;
    }
}

@media (min-width: 768px) {
    .grid-template-responsive {
        grid-template: auto / repeat(4, 2fr) !important;
        grid-gap: 16px !important;
    }
    .image-responsive {
        width: auto !important;
        height: 256px !important;
    }
}

@media (min-width: 992px) {
    .grid-template-responsive {
        grid-template: auto / repeat(8, 2fr) !important;
        grid-gap: 32px !important;
    }
    .image-responsive {
        width: auto !important;
        height: 512px !important;
    }
}

@media (min-width: 1200px) {
    .grid-template-responsive {
        grid-template: auto / repeat(12, 4fr) !important;
        grid-gap: 64px !important;
    }
    .image-responsive {
        width: auto !important;
        height: 768px !important;
    }
}

.margin-top-responsive {
    margin-top: auto !important;
}

.cursor-link {
    cursor: default !important;
}

.cursor-link:hover {
    cursor: pointer !important;
}

.background-nasa {
    background-image: './assets/image.jpg' !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}